<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <connectionStrings>
    <add name="EventMonitoring"
         connectionString="Data Source=.;Initial Catalog=EventMonitor;Integrated Security=yes"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="key" value="value"/>
    <add key="another key" value="another value"/>
  </appSettings>

  <unity>
    <container />
  </unity>
</configuration>