<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="wcfServices" type="EnergyTrading.Configuration.WcfServiceConfigurationSection, EnergyTrading.Core" />
    <section name="fphEmpty" type="EnergyTrading.FileProcessing.Configuration.FileProcessorHostSection, EnergyTrading.Core" />
    <section name="fphEmptyName" type="EnergyTrading.FileProcessing.Configuration.FileProcessorHostSection, EnergyTrading.Core" />
    <section name="fphMulti" type="EnergyTrading.FileProcessing.Configuration.FileProcessorHostSection, EnergyTrading.Core" />
    <section name="fileProcessorHost" type="EnergyTrading.FileProcessing.Configuration.FileProcessorHostSection, EnergyTrading.Core" />
    <section name="sambaFileProcessorHost" type="EnergyTrading.FileProcessing.Configuration.FileProcessorHostSection, EnergyTrading.Core" />
    <section name="simpleSample" type="EnergyTrading.UnitTest.Configuration.SampleSection, EnergyTrading.UnitTest" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="CacheItemPolicy.Expiration.bob" value="8"/>
  </appSettings>

  <wcfServices consoleMode="On">
    <services>
      <service name="product" serviceAddressPort="localhost:2981" endpointName="Test1EndPoint" authorizedGroups="" hostType="Trading.Enrichment.ProductEnricherService, EnrichmentService" contractType="Trading.Enrichment.IProductEnricherService, TradeEnrichment.Contract" />
      <service name="trade" serviceAddressPort="localhost:2981" endpointName="Test2EndPoint" authorizedGroups="" hostType="Trading.Enrichment.EnrichmentService, EnrichmentService" contractType="Trading.Enrichment.ITradeEnricherService, TradeEnrichment.Contract" />
      <service name="trader" serviceAddressPort="localhost:2981" endpointName="Test2EndPoint" authorizedGroups="" hostType="Trading.Enrichment.TraderEnricherService, EnrichmentService" contractType="Trading.Enrichment.ITraderEnricherService, TradeEnrichment.Contract" />
    </services>
  </wcfServices>

  <fphEmpty>
  </fphEmpty>

  <fphEmptyName>
    <processors>
      <processor
          name=""
          dropPath="."
          filter=""
          successPath="..\ok"
          failurePath="..\empty"
          scavengeInterval="30"
          recoveryInterval="45" />
    </processors>
  </fphEmptyName>

  <fphMulti>
    <processors>
      <processor
          name="a"
          dropPath="."
          filter=""
          successPath="..\ok"
          failurePath="..\empty"
          scavengeInterval="30"
          recoveryInterval="45" />
      <processor
          name="b"
          dropPath="."
          filter=""
          successPath="..\ok"
          failurePath="..\empty"
          scavengeInterval="30"
          recoveryInterval="45" />
    </processors>
  </fphMulti>

  <fileProcessorHost>
    <processors>
      <processor
          name="a"
          dropPath="."
          filter=""
          handler="EnergyTrading.UnitTest.FileProcessing.FileHandler, EnergyTrading.UnitTest"
          successPath="..\ok"
          failurePath="..\empty"
          scavengeInterval="30"
          recoveryInterval="45" />
    </processors>
  </fileProcessorHost>

  <sambaFileProcessorHost>
    <processors>
      <processor
          name="chaChaCha"
          dropPath="."
          inProgressPath="."
          filter=""
          processorConfiguratorType="PollingBased"
          consumers="1"
          handler="EnergyTrading.UnitTest.FileProcessing.FileHandler, EnergyTrading.UnitTest"
          successPath="..\ok"
          failurePath="..\empty" />
    </processors>
  </sambaFileProcessorHost>

  <simpleSample>
    <parents>
      <parent name="Paul" type="Father">
        <children>
          <child name="John" />
        </children>
      </parent>
    </parents>
  </simpleSample>

  <unity>
    <container>
      <types>
        <type name="direct" type="EnergyTrading.UnitTest.Container.Unity.ITest, EnergyTrading.UnitTest" mapTo="EnergyTrading.UnitTest.Container.Unity.TestClass, EnergyTrading.UnitTest" />
        <type name="reg1" type="EnergyTrading.Container.Unity.IContainerRegistrar, EnergyTrading.Unity" mapTo="EnergyTrading.UnitTest.Container.Unity.TestClassRegistrar, EnergyTrading.UnitTest" />
        <!-- Check that factory resolution works from parent and child -->
        <type name="factory" type="EnergyTrading.Container.Unity.IContainerRegistrar, EnergyTrading.Unity" mapTo="EnergyTrading.UnitTest.Container.Unity.TestFactoryRegistrar, EnergyTrading.UnitTest" />
      </types>
    </container>
      
    <container name="test">
      <!-- NB Registering Same named service as parent does *not* override resolution in child - if we want this must register in all children separately. -->
      <type name="direct2" type="EnergyTrading.UnitTest.Container.Unity.ITest, EnergyTrading.UnitTest" mapTo="EnergyTrading.UnitTest.Container.Unity.ChildTestClass, EnergyTrading.UnitTest" />
      <type name="reg2" type="EnergyTrading.Container.Unity.IContainerRegistrar, EnergyTrading.Unity" mapTo="EnergyTrading.UnitTest.Container.Unity.ChildTestClassRegistrar, EnergyTrading.UnitTest" />
      <type name="direct3" type="EnergyTrading.UnitTest.Container.Unity.ITest, EnergyTrading.UnitTest" mapTo="EnergyTrading.UnitTest.Container.Unity.ChildTestClass, EnergyTrading.UnitTest" />
      <type name="reg3" type="EnergyTrading.Container.Unity.IContainerRegistrar, EnergyTrading.Unity" mapTo="EnergyTrading.UnitTest.Container.Unity.ChildTestClassRegistrar, EnergyTrading.UnitTest" />
      <type name="direct4" type="EnergyTrading.UnitTest.Container.Unity.ITest, EnergyTrading.UnitTest" mapTo="EnergyTrading.UnitTest.Container.Unity.ChildTestClass, EnergyTrading.UnitTest" />
      <type name="reg4" type="EnergyTrading.Container.Unity.IContainerRegistrar, EnergyTrading.Unity" mapTo="EnergyTrading.UnitTest.Container.Unity.ChildTestClassRegistrar, EnergyTrading.UnitTest" />
      <type name="direct5" type="EnergyTrading.UnitTest.Container.Unity.ITest, EnergyTrading.UnitTest" mapTo="EnergyTrading.UnitTest.Container.Unity.ChildTestClass, EnergyTrading.UnitTest" />
      <type name="reg5" type="EnergyTrading.Container.Unity.IContainerRegistrar, EnergyTrading.Unity" mapTo="EnergyTrading.UnitTest.Container.Unity.ChildTestClassRegistrar, EnergyTrading.UnitTest" />
      <type name="direct6" type="EnergyTrading.UnitTest.Container.Unity.ITest, EnergyTrading.UnitTest" mapTo="EnergyTrading.UnitTest.Container.Unity.ChildTestClass, EnergyTrading.UnitTest" />
      <type name="reg6" type="EnergyTrading.Container.Unity.IContainerRegistrar, EnergyTrading.Unity" mapTo="EnergyTrading.UnitTest.Container.Unity.ChildTestClassRegistrar, EnergyTrading.UnitTest" />
      <type name="direct7" type="EnergyTrading.UnitTest.Container.Unity.ITest, EnergyTrading.UnitTest" mapTo="EnergyTrading.UnitTest.Container.Unity.ChildTestClass, EnergyTrading.UnitTest" />
      <type name="reg7" type="EnergyTrading.Container.Unity.IContainerRegistrar, EnergyTrading.Unity" mapTo="EnergyTrading.UnitTest.Container.Unity.ChildTestClassRegistrar, EnergyTrading.UnitTest" />
    </container>
  </unity>

  <log4net configSource="logger.config" />
</configuration>